body{
    background-color: khaki;
}
header{
    background-color: goldenrod;
    padding: 25px;
}
nav{
    background-color: goldenrod;
    padding: 10px;
}
section{
    background-color: darkred;
}
article{
    background-color: darkgray;
}
aside{
    background-color: yellow;
    width: 30%;
    float: right;
}
footer{
    background-color: darkred;
}

table{
    background-color: whitesmoke;
    width: 700px;
    position: center;
}
cj{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bold;
    color:goldenrod;
}
