body{
    background-color: khaki;
}
header{
    background-color: goldenrod;
    padding: 25px;
}
nav{
    background-color: goldenrod;
    padding: 10px;
}
section{
    background-color: darkred;
}
article{
    background-color: darkgray;
}
aside{
    background-color: yellow;
    width: 30%;
    float: right;
}
footer{
    background-color: darkred;
}
img{
    width: 100px;
    height: 100px;
    border-radius: 100px;
}
